{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <form method="POST" enctype="multipart/form-data" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    {{ form.movie }}
                </div>
                <div class="input-field col s6">
                    {{ form.review }}
                    <label>Отзыв:</label>
                </div>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn waves-effect waves-light blue accent-4 align-right">Сохранить</button>
        </form>
    </div>
{% endblock %}