{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for review in reviews %}
            <div class="col s12 m12">
                <div class="card {% if review.result == 'Positive' %}
                            green
                         {% endif %}
                         {% if review.result == 'Negative' %}
                            red
                         {% endif %}">
                    <div class="card-content">
                        <p class="white-text">{{ review.review }}</p>
                    </div>
                    <div class="card-action">
                        <p class="white-text">{{ review.movie }}</p>
                        <p class="white-text">{{ review.created }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}